@import "./globals.scss";

.mainContainer {
  width: 100%;
  min-height: 100vh;
  @include flex();
  padding: 0rem 0rem 6rem 0rem;

  section {
    width: 100%;
    min-height: 70vh;
  }
}

.intro {
  height: 121vh;
  background-image: url("../public/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 8rem 6rem 10rem 6rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    ". . . . . ."
    "bq bq bq bq . ."
    "p p p . . ."
    "btn btn .  . . ."
    ". . . . . .";

  blockquote {
    grid-area: bq;
    color: #222;
    font-weight: bold;
    font-size: 2.7vw;
    span {
      color: $main-color;
    }
  }

  p {
    grid-area: p;
    margin-top: 1rem;
    color: #666;
  }
  button {
    grid-area: btn;
    align-self: center;
    justify-self: flex-start;
  }

  .openHrs {
    width: 300px;
    @include flex();
    position: absolute;
    top: 26vh;
    right: 13vw;

    h3 {
      width: 80%;
      text-align: center;
      color: $main-color;
      padding: 0.6rem 0rem;
      border-bottom: 4px solid $main-color;
    }

    ul {
      margin-top: 1rem;
      width: 100%;
      list-style: none;

      li {
        width: 100%;
        @include flex();
        flex-direction: row;
        justify-content: space-between;

        p {
          font-family: $title-font;
          text-transform: capitalize;
          font-weight: bold;
          color: #222;
        }
      }
    }
  }

  // .openHrs {
  //   width: 350px;
  //   min-height: 400px;
  //   padding: 2rem;
  //   @include flex();
  //   justify-content: flex-start;
  //   position: absolute;
  //   top: 25vh;
  //   right: 12vw;
  //   background: #0003;
  //   border-radius: 10px;

  //   h3 {
  //     width: 80%;
  //     text-align: center;
  //     color: #fff;
  //     padding: 0.6rem 0rem;
  //     border-bottom: 2px solid #fff;
  //   }

  //   ul {
  //     margin-top: 2rem;
  //     width: 100%;
  //     list-style: none;

  //     li {
  //       width: 100%;
  //       @include flex();
  //       flex-direction: row;
  //       justify-content: space-between;
  //       font-size: 0.9rem;

  //       p {
  //         font-family: $title-font;
  //         text-transform: capitalize;
  //         color: #fff;
  //         font-weight: initial;
  //       }

  //       .day {
  //         font-weight: bold;
  //       }
  //     }
  //   }
  // }
}

.about {
  padding: 10rem 6rem;

  p {
    color: #666;
    max-width: 50ch;
    margin: 1rem 0rem;
  }

  .employees {
    width: 100%;
    @include flex();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8rem 0rem;

    p {
      text-align: center;
      max-width: 10rem;
    }
  }
}

.treatments {
  @include flex();

  h2 {
    margin: 1rem 0rem;
  }

  p {
    color: #666;
  }

  .container {
    margin: 4rem 0rem 0rem 0rem;
    padding: 2rem 0rem;
    width: 100%;
    @include flex();
    flex-direction: row;
    flex-wrap: wrap;
  }

  .treatmentsList {
    margin: 1rem 0rem 0rem 0rem;
    width: 90%;
    @include flex();
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    li {
      @include flex();
      align-items: flex-start;
      padding: 2rem 4rem;
      width: 28rem;
      height: 7rem;
      border-left: 4px solid $main-color;
      background-color: $light-color;
      text-align: left;
      margin: 1rem 2rem;
      font-weight: bold;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      p {
        font-size: 0.9rem;
        font-family: "Montserrat", sans-serif;
        color: #222;
      }
    }
  }
}

.contact {
  height: 60vh;
  padding: 0rem 0rem 0rem 6rem;
  background-color: $light-color;
  margin: 8rem 0rem;
  @include flex();
  flex-direction: row;
  justify-content: space-between;

  iframe {
    height: 100%;
    width: 46%;
  }

  p {
    color: #666;
  }

  h2 {
    margin: 4rem 0rem 1rem 0rem;
  }

  ul {
    margin: 4rem 0rem;
    list-style: none;
    li {
      margin: 1.4rem 2rem;
      @include flex();
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      font-weight: bold;

      p {
        color: #222;
      }

      img {
        margin-right: 2rem;
      }
    }
  }
}

.formSection {
  padding: 2rem 6rem;
  .formContent {
    align-self: center;
    margin: 8rem 0rem 0rem 0rem;
    width: 100%;
    min-height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "name name  txt txt"
      "tel email txt txt"
      ". . . btn";
    grid-gap: 2rem 3rem;

    article {
      align-self: flex-start;
      @include flex();
      align-items: flex-start;

      label {
        color: #888;
        font-family: $title-font;
        font-size: 0.8rem;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      input,
      textarea {
        margin-top: 1rem;
        padding: 1.2rem 2rem;
        width: 100%;
        border-radius: 10rem;
        border: none;
        background: #f8f8f8;
      }

      textarea {
        height: 100%;
        border-radius: 1rem;
      }
    }

    .name {
      grid-area: name;
    }

    .tel {
      grid-area: tel;
    }

    .email {
      grid-area: email;
    }

    .mssg {
      grid-area: txt;
      height: 100%;
    }

    button {
      align-self: center;
      grid-area: btn;
    }
  }
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: initial;
}

@media only screen and (max-width: 900px) {

  .mobileOnly {
    display: initial;
  }

  .desktopOnly {
    display: none;
  }

  .intro {
    background-image: url(../public/mobile-bg.jpg);
    background-position: center -8rem;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex();
    align-items: flex-start;
    justify-content: flex-start;
    // background-image: initial;
    padding: 8rem 2rem;
    // text-align: center;
    height: initial;
    min-height: 120vh;

    blockquote {
      font-weight: bold;
      font-size: 1.3rem;
      margin: 4rem 0rem 0rem 0rem;
      span {
        color: $main-color;
      }
    }

    p {
      margin-top: 1rem;
      color: #666;
    }
    button {
      margin: 4rem 0rem;
    }

    .openHrs {
      padding: 2rem;
      width: 100%;
      margin: 4rem 0rem;
      background-color: #0007;
      margin-top: 2rem;
      position: initial;
      border-radius: 10px;

      h3 {
        font-size: 0.9rem;
        border-bottom: 2px solid $main-color;
      }

      ul {
        margin-top: 3rem;
        li {
          p {
            color: #eee;
          }
        }
      }
    }
  }

  .about {
    padding: 4rem 2rem;
    text-align: center;
  }

  .treatments {
    padding: 4rem 2rem;
    text-align: center;
    button {
      padding: 1rem 4rem;
    }

    .treatmentsList {
      width: 100%;

      li {
        height: initial;
        margin: 0.6rem 0rem;
        padding: 2rem 1rem;
      }
    }
  }

  .contact {
    flex-direction: column;
    padding: 2rem;
    height: 100vh;

    iframe {
      height: 60%;
      width: 100%;
    }

    h2 {
      font-size: 1.2rem;
    }

    ul {
      margin: 3rem 1rem;
      li {
        margin: 1rem 0rem;

        p {
          font-size: 0.8rem;
        }
        img {
          margin-right: 2rem;
        }
      }
    }
  }

  .formSection {
    padding: 4rem 2rem;

    .formContent {
      align-self: center;
      @include flex();

      margin: 4rem 0rem;
      grid-gap: 0rem;

      article {
        margin: 1rem 0rem;
        width: 100%;

        label {
          font-size: 0.7rem;
        }

        textarea {
          min-height: 150px;
        }
      }

      button {
        margin: 2rem 0rem;
        width: 100%;
      }
    }
  }
}
